.settings_inner{
    background-color: #fff;
    box-shadow: 0px 4px 4px 0px #00000040;

}
.settings_title{
    font-family: Inter ! important;
    font-size: 24px ! important;
    font-weight: 600 ! important;
    color:#3B3B3B ! important;
    padding:38px 41px 22px 41px ! important;
    border-bottom: 1px solid #0000003D;
}
.settings_body{
    padding:56px 41px 190px 41px;
}
.settings_save_btn{
    width:184px ! important;
    height:52px ! important;
    border-radius: 12px ! important;
    background:var(--bg);
    font-family: Inter ! important;
    font-size: 24px ! important;
    font-weight: 600 ! important;
    color:#fff ! important;
    text-transform: inherit ! important;
    
}