body {
    
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
  }
  
  .containers {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 50px 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .text-test-section {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color: #3B3B3B;
  
  }
  
  .headers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .back-button-qus {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px 30px;
    cursor: pointer;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 36px;
    color: #3B3B3B;
  }
  
  
  
  .question-list {
    list-style-type: none;
    margin-top: 30px;
    padding: 0;
  }
  
  .question-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    /* margin-bottom: 10px; */
    width: 100%;
  }
  .d-flex{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    align-items: center;
      margin-bottom: 10px;
  
  }
  
  .question-number {
    /* background-color: #f1f1f1; */
    border-radius: 10px;
    border: 1px solid #0000003D;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .question-text {
    flex-grow: 1;
    margin-left: 10px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    color: #3B3B3B;
  
  }
  .cus_d_flex{
    align-items: baseline ! important;
  }
  .question-arrow {
    color: #00bfa5;
    cursor: pointer;
  }
  
  .cus_question_list{
    padding:10px !important;
    background-color: #fff !important;
  }
  .cus_question_list .question-item{
    padding:9px !important;
    background-color: #fff !important;
    border: 1px solid #0000003D ! important;
    margin-bottom: 20px ! important;
  }

  .cus-question-number{
    border: 1px solid #0000003D ! important;
    border-radius: 12px ! important;
    padding:10px ! important;
    width:64px ! important;
    height:64px ! important;
    display: flex ! important;
    justify-content: center ! important;
    align-items: center ! important;
  }
  .cus_question_text p{
    display: inline-block;
  }
  @media (max-width: 768px) {
    .container {
      width: 95%;
    }
  
    .question-item {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .question-arrow {
      align-self: flex-end;
    }
  }